* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #EB9B00;
    --cor-secundaria: #002F52;
    --cor-texto: #FFFFFF;
    --cor-texto2: #000000;
    --cor-background: #C4C4C4;
    --fonte: "poppins", sans-serif;
    --tamanho--titulo: 1.2rem;
    --tamanho--subtitulo: 1rem;
    --tamanho--descricao: 0.9rem;
    --tamanho--titulo--desktop: 2.25rem;
} 

body {
    background-color: var(--cor-background);
    font-family: var(--fonte);
    height: 272vh;
}

.cabecalho {
    background-color: var(--cor-texto);
    display: flex;
    align-items: center;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
}

.cabecalho__menu {
    width: 2rem;
    height: 2rem;
    background-image: url(./assets/Menu.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
 
.cabecalho__logo {
    width: 2.2rem;
    margin-left: 1rem;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cabecalho__favoritos {
    width: 3rem;
}

.cabecalho__sacola {
    width: 2.5rem;
}

.cabecalho__usuario {
    width: 2rem;
}

.cabecalho__lista {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    list-style: none;
    margin-left: 0;
}

.cabecalho__botao:checked ~ .cabecalho__lista {
    display: block;
}

.cabecalho__botao {
    display: none;

}

.cabecalho__lista__titulo, .cabecalho__lista__item {
    padding: 1rem;
    background-color: var(--cor-texto);
}

.cabecalho__lista__titulo {
    font-size: var(--tamanho--subtitulo);
    color: var(--cor-primaria);
    font-weight: bold;
}

.cabecalho__lista__link {
    background: var(--cor-secundaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
}

.busca {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--cor-secundaria);
    gap: 8px;
    padding: 24px;
}

.busca__titulo {
    font-size: var(--tamanho--titulo);
    color: var(--cor-texto);
    font-weight: bold;
    padding-inline: 2rem;
    padding-top: 0.5rem;
}

.busca__subtitulo {
    width: 23rem;
    text-align: center;
    font-size: var(--tamanho--subtitulo);
    font-weight:200;
    color: var(--cor-texto);
    padding-inline: 2rem;
}

.busca__pesquisar {
    width: 21rem;
    height: 2.7rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: solid, 1px;
    border-radius: 24px;
    font-family: var(--fonte);
    font-size: 0.8rem;
    padding-left: 5rem;
    margin-top: 16px;
    background-image: url("./assets/Pesquisa.png");
    background-repeat: no-repeat;
    background-size: 1.5rem; 
    background-position: 15% center;
}

.busca__pesquisar:hover {
    background-color: #002038;
}


.busca__pesquisar::placeholder {
    color: var(--cor-texto);
}

.lancamentos , .mais-vendidos {
    background-color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lancamentos__titulo , .mais-vendidos__titulo {
    color: var(--cor-primaria);
    font-size: var(--tamanho--titulo);
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 8px;
}

.swiper {
    position: relative;
}

.swiper-slide img {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
}

.swiper-pagination{
    position: initial;
}

.mais-vendidos {
    margin-top: 1.1rem;
}

.sugestao , .autora {
    display: flex;
    background-color: var(--cor-texto);
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
}

.sugestao__texto , .autora__texto {
    display: flex;
    flex-direction: column;
    width: 12rem;
    gap: 0.5rem;
    padding: 1rem 1rem 1rem 0;
}

.sugestao__titulo , .autora__titulo {
    font-size: var(--tamanho--subtitulo);
    color: var(--cor-primaria);
}

.sugestao__livro , .autora__nome {
    font-size: var(--tamanho--titulo);
    color: var(--cor-secundaria);
    font-weight: bold;
}

.sugestao__descricao , .autora__descricao {
    font-size: var(--tamanho--descricao);
    color: var(--cor-texto2);
    font-weight: lighter;
}

.sugestao__icones , .autora__icones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sugestao__favoritos , .autora__favoritos {
    width: 2.5rem;
}

.sugestao__sacola, .autora__sacola {
    width: 2rem;
}

.sugestao__imagem , .autora__imagem {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sugestao__editora , .autora__perfil {
    width: 10.2rem;
}

.sugestao__botao , .autora__botao {
    background-color: var(--cor-primaria);
    width: 10.1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    font-family: var(--fonte);
    font-weight: bold;
    color: var(--cor-texto);
    font-size: var(--tamanho--subtitulo);
    border: none;
    cursor: pointer;
}

.sugestao__botao:active, .autora__botao:active {
    background-color: #cf8500;
    
}

.autora__estrelas {
    width: 5.7rem;
}

.topicos {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-texto);
    background-size: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
}


.topicos__titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    padding: 1.5rem 0 2rem 0;
    font-size: var(--tamanho--descricao);
    font-weight: lighter;
    color: var(--cor-texto);
}

.topicos__botoes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    background-color: var(--cor-secundaria);
    padding-bottom: 2rem;
}

.topicos__botao {
    display: flex;
    background-color: var(--cor-primaria);
    font-family: var(--fonte);
    font-weight: bold;
    color: var(--cor-texto);
    font-size: var(--tamanho--subtitulo);
    border: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
}

.topicos__botao:active {
    background-color: #cf8500;
}

.atualizacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    background-color: var(--cor-texto);
    height: 13rem;
    height: 38vh;
}

.atualizacoes__titulo {
    font-size: var(--tamanho--titulo);
    color: var(--cor-secundaria);
    font-weight: 900;
    padding-top: 1.5rem;
}

.atualizacoes__texto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.atualizacoes__descricao {
    font-size: var(--tamanho--subtitulo);
    color: var(--cor-secundaria);
    font-weight: 200;
}

.atualizacoes__pesquisar {
    display: flex;
    align-items: center;
    width: 21rem;
    height: 2.7rem;
    background-color: var(--cor-texto);
    border: solid, 1px;
    border-radius: 24px;
    padding-left: 4rem;
    margin-top: 8px;
    border: 1px solid var(--cor-secundaria);
    background-image: url("./assets/email.png");
    background-repeat: no-repeat;
    background-size: 1.5rem; 
    background-position: 8% center;
    margin-top: 1.5rem;
}

.atualizacoes__pesquisar::placeholder {
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    background-color: var(--cor-texto);
    border-top: solid 1px 

}

.rodape__titulo {
    font-size: var(--tamanho--subtitulo);
    font-weight: 200;
    padding-left: 1.5rem;
}

.cabecalho__logo-grande, .opcoes, .rodape__listas, .cabecalho__navegacao__texto {
    display: none;
}



@media screen and (min-width: 1024px) {

    .cabecalho__logo-grande {
        display:block;
        width: 18rem;
        padding-left: 5rem;
    }

    .cabecalho__logo, .cabecalho__menu {
        display: none;
    }

    .opcoes {
        display: block;
        display: flex;
        gap: 2rem;
        font-family: var(--fonte);
        font-size: var(--tamanho--descricao);
        list-style: none;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-texto2);
    }

    .cabecalho__favoritos {
        display: none;;
    }

    .cabecalho__navegacao {
        gap: 4rem;
        padding-right: 5rem;
    }

    .opcoes__botao:checked ~ .cabecalho__lista {
        display: block;
    }

    .opcoes__botao {
        display: none;
    }

    .cabecalho__lista {
        width: 10rem;
    }

    .busca {
        height: 20.6rem;
        padding-top: 5.25rem;
    }

    .busca__titulo {
        font-size: var(--tamanho--titulo--desktop);
        font-weight: bold;
    }

    .busca__subtitulo {
        width: 50rem;
    }

    .busca__pesquisar {
        width: 29.7rem;
        height: 3.5rem;   
        padding-left: 10rem;
    }

    .busca__pesquisar::placeholder {
        font-size: 1rem;
    }

    .lancamentos, .mais-vendidos{
        height: 6.6rem;
    }

    .lancamentos__titulo, .mais-vendidos__titulo {
        font-size: var(--tamanho--titulo--desktop);
        padding-top: 2.5rem;    
    }

    .swiper {
        width: 70%;
    }

    .sugestao , .autora {
        border-radius: 15px;
        gap: 12rem;
        align-items: start;
        margin: 3rem 13.7rem 3rem 13.7rem;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.50);
    }

    .sugestao__titulo , .autora__titulo {
        width: 20rem;
    }

    .sugestao__livro , .autora__nome {
        width: 15rem;
    }

    .sugestao__descricao , .autora__descricao {
        width: 19rem;
    }

    .sugestao__icones , .autora__icones {
        padding-top: 3rem;
    }

    .topicos__titulo {
        font-size: 1.5rem;
        font-weight: lighter;
    }

    .topicos__botoes {
        flex-wrap: wrap;
        padding-inline: 13rem;
    }

    .atualizacoes {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        padding-bottom: 2rem;
    }

    .atualizacoes__pesquisar {
        margin-top: 3rem;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 6.6rem;
        padding-top: 3rem;
        height: 110vh;
    }

    .rodape__titulo {
        font-size: var(--tamanho--titulo);
        width: 10rem;
    }

    .rodape__listas {
        display: flex;
        gap: 5rem;
        align-items: start;
    }

    .rodape__lista {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        font-size: var(--tamanho--descricao);
        color: var(--cor-texto2);
        list-style-type: none;
    }

    .rodape__lista__link {
        text-decoration: none;
        color: var(--cor-texto2);
    }

    .rodape__lista__imagem {
        width: 2rem;
    }

    .rodape__lista__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 1478px) {

    .cabecalho__navegacao__texto {
        display: block;
    }
  
    .cabecalho__navegacao__link {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: 1.2rem;
        color: var(--cor-texto2);
        text-decoration: none;
    }

    .opcoes {
        padding-right: 15rem;
    }

    .busca__pesquisar {
        width: 37rem;
    }

    .busca__pesquisar::placeholder {
        padding-left: 2rem;
    }

    .carrosel {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 4rem;
        margin: 4rem;
        gap: 5rem;
    }

    .sugestao , .autora {
        margin: 0;
        width: 40rem;
    }

    .swiper {
        width: 45rem;
        margin: 0;
    }

    .topicos__botoes {
        font-size: var(--tamanho--titulo--desktop);
        padding-inline: 27rem;
    }

    .rodape {
        height: 30rem;
    }
}